.board-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-right: 10rem;

  .board-row {
    display: flex;
    flex-direction: row;
    &.middle-row {
      border-top: 6px solid #282c34;
      border-bottom: 6px solid #282c34;
    }
  }
}
 